<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login | Virtual Wardrobe</title>
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <div class="branding">
        <h1>Virtual Wardrobe</h1>
        <p>Your personal wardrobe assistant.</p>
    </div>
    <div class="container">
            <div class="form-container">
                <h2>LogIN</h2>
                <form action="/auth/login" method="POST">
                    <div class="input-group">
                        <input type="email" name="email" id="email" placeholder="Enter Email" required>
                        <img src="/static/images/gear2.png" id="gear1" class="gear">
                    </div>
                    <div class="input-group">
                        <input type="password" name="password" id="password" placeholder="Enter Password" required>
                        <img src="/static/images/gear2.png" id="gear2" class="gear">
                    </div>
                    <button type="submit" id="submit-btn" disabled>Login</button>
                </form>
                <div class="sign-up-link">
                    <a href="/auth/signup">Don't have an account? Sign up</a>
                </div>        
            </div>
    </div>
    <script src="/static/js/animation.js"></script>
</body>
</html>